@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700");
@import url(classy-nav.css);

:root {
  --brand: #2a4f73;
  --sub: #91d8f6;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

html,
body {
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Lato", sans-serif;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: #707070;
	font-weight: 400;
	line-height: 26px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0; 
}
ul li {
  margin: 0;
  padding: 0; 
}

a {
  color: var(--body);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
  text-decoration: none;
}

.text-brand{
  color: var(--brand);
}

.background-brand{
  background-color: var(--brand);
}

.btn-brand{
  background-color: var(--brand);
  color: white;
  border: 1px solid var(--brand);
}

.btn-brand:hover{
  background-color: transparent;
  color: var(--sub);
  border: 1px solid var(--sub);
}
.btn-sub{
  background-color: var(--sub);
  color: white;
}

.btn-sub:hover{
  background-color: transparent;
  color: var(--sub);
  border: 1px solid var(--sub);
}
/* Topbar */
.topbar .icons a{
  color: black;
  background-color: white;
  border: 1px solid white;
}

.topbar .icons a:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* Back to Top */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/* Float Icons */
.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:110px;
  left:20px;
  background-color:#37b6ff;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-2 {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  left:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float {
  margin-top:16px;
}

.float:hover {
  color: #37b6ff;
  background-color: white;
  border: 1px solid #37b6ff;
}

.float-2:hover {
  color: #25d366;
  background-color: white;
  border: 1px solid #25d366;
}

/*** Footer ***/
.footer{
  /* background-color: white; */
  background-color: var(--brand);
}

.footer a{
  text-decoration: none;
}

.footer-head{
  color: white;
  font-weight: 900;
}

.footer-color{
  color: #b9babc;
  /* color: black; */
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  /* background-color: var(--brand);
  border: 1px solid var(--brand); */
}

.footer .btn.btn-social:hover {
  color: black;
  /* background-color: white; */
  /* background-color: black;
  border: 1px solid var(--brand); */
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  /* color: black; */
  color: #b9babc;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
  color: white;
}

.footer .copyright a:hover {
  color: #b9babc;
}

.main-header-area {
position: relative;
z-index: 1;
background-color: #ffffff; }
.main-header-area .book-now-btn a {
padding: 10px 20px;
background-color: var(--brand);
/* height: 80px;
line-height: 80px; */
border-radius: 5px;
text-align: center;
color: #ffffff;
font-size: 16px; }
.main-header-area .book-now-btn a i {
padding-left: 5px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-header-area .book-now-btn a {
/* height: 50px;
line-height: 50px;
border-radius: 30px; */
margin-top: 10px;
margin-left: 10px;
 } }
@media only screen and (max-width: 767px) {
.main-header-area .book-now-btn a {
/* height: 50px;
line-height: 50px;
border-radius: 30px; */
margin-top: 10px;
margin-left: 10px; } }
.main-header-area .book-now-btn a:hover, .main-header-area .book-now-btn a:focus {
background-color: var(--sub);
color: #ffffff; }
@media only screen and (max-width: 767px) {
.classy-nav-container .classy-navbar .nav-brand {
/* max-width: 90px; */
margin-right: 15px; } }

.classy-nav-container {
background-color: transparent;
padding: 0; }
.classy-nav-container .classy-navbar {
-webkit-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
height: 80px;
padding: 0; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
.classy-nav-container .classy-navbar {
height: 70px; } }
@media only screen and (max-width: 767px) {
.classy-nav-container .classy-navbar {
height: 70px; } }
@media only screen and (max-width: 767px) {
.classy-nav-container .classy-navbar .nav-brand {
/* max-width: 90px; */
margin-right: 15px; } }
.classy-nav-container .classy-navbar .classynav ul li a {
font-size: 16px;
text-transform: capitalize;
color: black;
font-weight: 500;
padding: 0 20px; }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.classy-nav-container .classy-navbar .classynav ul li a {
font-size: 14px;
padding: 0 10px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
.classy-nav-container .classy-navbar .classynav ul li a {
font-size: 14px;
color: black; }
.classy-nav-container .classy-navbar .classynav ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li a:focus {
color: var(--brand); } }
@media only screen and (max-width: 767px) {
.classy-nav-container .classy-navbar .classynav ul li a {
font-size: 14px;
color: black; }
.classy-nav-container .classy-navbar .classynav ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li a:focus {
color: var(--brand); } }
.classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover,
.classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:active {
color: var(--brand);
font-weight: 500; }
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
font-size: 14px;
text-transform: capitalize;
height: 100%;
padding: 0 30px;
color: black; }
.classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:hover
, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:active {
background-color: var(--brand);
color: white;
}

.classynav ul li.active a {
position: relative;
z-index: 1; }
.classynav ul li.active a::before {
width: 80%;
height: 2px;
background-color: #ffffff;
position: absolute;
bottom: 0;
left: 10%;
z-index: 1;
content: ''; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
.classynav ul li.active a::before {
display: none; } }
@media only screen and (max-width: 767px) {
.classynav ul li.active a::before {
display: none; } }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
color: var(--brand); }

@media only screen and (min-width: 975px) {
.main-header-area .classy-nav-container .classy-navbar .classy-menu .classynav #nav li .dropdown-laptop {
/* Your specified width for laptops */
width: 280px;
}
}

@media only screen and (min-width: 975px) {
.main-header-area .classy-nav-container .classy-navbar .classy-menu .classynav #nav li .dropdown-laptop li ul {
/* Your specified width for laptops */
margin-left: 80px;
width: 250px;
}
}

.sticky-top {
  top: -100px;
  transition: .5s;
}

.sticky-top .main-header-area .classy-nav-container .classy-navbar .nav-brand img{
  height: 50px;
}

.close {
  color: #000;
  opacity: 0.7;
  font-size: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.close:hover {
  opacity: 1;
}

/* Path */
.banner-area {
  position: relative;
  min-height: 300px;
  color: #fff;
  background: linear-gradient(rgba(19, 57, 118, 0.65), rgba(19, 57, 118, 0.65)), url("../img/image/path.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .banner-title {
    font-size: 32px;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-heading {
  text-align: center;
}

.breadcrumb {
  padding: 0;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.breadcrumb li a,
.breadcrumb .breadcrumb-item,
.breadcrumb li a:focus {
  color: #fff !important;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.ftco-section {
/* padding: 7em 0; */
position: relative; }
/* @media (max-width: 767.98px) {
.ftco-section {
padding: 6em 0; } } */

.sidebar-box {
margin-bottom: 30px;
padding: 25px;
/* font-size: 15px; */
font-size: 18px;
width: 100%;
background: #fff; }
.sidebar-box *:last-child {
margin-bottom: 0; }
.sidebar-box h3 {
/* font-size: 18px; */
font-size: 22px;
margin-bottom: 15px;
font-weight: 700; }

.categories li, .sidelink li {
position: relative;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #dee2e6;
list-style: none; }
.categories li:last-child, .sidelink li:last-child {
margin-bottom: 0;
border-bottom: none;
padding-bottom: 0; }
.categories li a, .sidelink li a {
display: block;
color: #1a1a1a; }
.categories li a span, .sidelink li a span {
position: absolute;
right: 0;
top: 0;
color: #ccc; }
.categories li.active a, .sidelink li.active a {
color: #000000;
font-style: italic; }
.categories li a:hover{
  color: var(--brand);
  text-decoration: underline;
}

.ftco-animate ul li i{
  color: var(--brand);
  margin-right: 10px;
  /* font-size: 15px; */
  font-size: 18px;
}

.ftco-section .ftco-animate p{
  font-size: 18px;
}

@media (min-width: 967.98px) {
  .rl-space {
    margin: 0px 200px;
  } 
}

.back-img {
  background: linear-gradient(rgb(41,141,193,0.8),rgb(41,141,193,0.8)), url("../img/image/contact.jpg") no-repeat;
  background-size: cover;
  color: white;
  min-height: 400px;
  width: 100%; /* Set the width to your desired value */
}

.back-img p{
  font-size: 20px;
}